<h1>Eat Da Burger!</h1>

<div class="container">
    <div class="row">
        <div class="col-md-4 text-center">
          <p>Burgers to be Devoured</p>
            {{#each burgers}}
              {{#unless devoured}}
                {{> burger-block devoured=false}}
              {{/unless}}
            {{/each}}
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center">
          <p>Throw it Away!</p>
          {{#each burgers}}
            {{#if devoured}}
              {{> burger-block devoured=true}}
            {{/if}}
          {{/each}}
        </div>
    </div>

<h2>Add a Burger</h2>
<div class="col text-center">
<form class="create-form">

  <div class="form-group">
    <label for="burger-input">Burger Name:</label>
    <input type="text" id="burger-input" name="name" class="form-control">
  </div>

  <button class="btn btn-danger" id="submitBtn" type="submit">Submit Burger</button>
</form>
</div>
