body {
    background: rgb(247, 171, 31)!important;
}

#cat-burger {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 150px;
    height: 200px;
}

#burger {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 150px;
    height: 150px;
}

#burger-2 {
    position: absolute;
    right: 155px;
    bottom: 0px;
    width: 125px;
    height: 125px;
}

#burger-3 {
    position: absolute;
    right: 285px;
    bottom: 0px;
    width: 100px;
    height: 100px;
}

#burger-4 {
    position: absolute;
    right: 390px;
    bottom: 0px;
    width: 75px;
    height: 75px;
}

#burger-5 {
    position: absolute;
    right: 470px;
    bottom: 0px;
    width: 50px;
    height: 50px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

form {
    margin: auto;
}